html, body {
    height: 100%;
  }

  html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
    line-height: 1.4;
  }
  body {
    margin: 0;
  }

  .nav-link:hover {
    transform: scale(1.2);
  }

  #containers {
      height: 100vh;
  }

  .text-container {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
}


h1 {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}